{% extends 'base/main.html' %} {% load static %}
<!-- test -->
{% block title %} About Us {% endblock %}
<!-- test -->

{% block content %}
<div class="container">
  <h1 class="page-title">درباره ما</h1>
  <img
    src="{% static 'images/about_us.jpg' %}"
    alt="About Us"
    class="about-image"
  />
  <p class="about-description">
    وبسایت سفارش آنلاین غذا با تمرکز بر ارتقای سلامت غذایی با هدف توانمند سازی و
    ایجاد اشتغال برای خانم های خانه دار و به کارگیری علوم ICT و تکنولوژی اطلاعات
    در کنار مدیریت و ساز و کاری ویژه، بستری را در جهت ارائه و فروش آنلاین غذای
    خانگی مهیا نموده است. امیداوریم کمی از دغدغه های کیفیت و سلامت غذاهایی که
    نوش جان میکنید را کاسته باشیم. تمامی افراد بعد از گذراندن مرحله تست غذا (از
    نظر کیفیت و سلامت) و اخذ کارت سلامت و بازدید منظم و همچنین تهیه تصاویر
    آشپزخانه شان فعال می شوند و دائما توسط نظرات شما کاربران گرامی مانیتور می
    شوند.
  </p>
</div>
{% endblock %}
